APP_DEBUG = false
DB_DRIVER = mysql
DB_HOST = 127.0.0.1
DB_PORT = 3306
DB_NAME = mtr_ticketing
DB_USER = mtr_ticketing
DB_PASS =
TICKETING_API_KEY =
TICKETING_AGENCY = LOCAL
TICKETING_ISSUER = 999
TICKETING_CURRENCY = CNY
